PORT=4000
CLIENT_ORIGIN=http://localhost:8080
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=shopo
VITE_BACKEND_URL=http://localhost:5000
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TA7im3KPa1QFVcxNveHgNochcdjEkgpv3FvYppl0UtlbPo6dBBKW81oTQNF8RnBfh594q2h0JuCQwLYjQ7tnPcM00C0nnHpjA
